:root {
  // Color
  --color-black: #000000;
  --color-white: #ffffff;

  --color-sand: #b4cad6;
  --color-night: #1b3949;
  --color-slate: #031621;
  --color-sawdust: #e8af21;
  --color-maple: #ba2b12;
  --color-cherry: #ffffff;

  // Type
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-sans: 'DM Sans', sans-serif;
  --font-family-sans-alt: 'Gotham', sans-serif;
  --font-family-mono: 'DM Mono', monospace;

  // Grid
  // --container-padding: ${fluid(20, 60, SM, XXL)};
  --container-max-width: 1320px;
  --grid-gutter-width: 20px;

  // Transitions
  --transition-snappy: cubic-bezier(0.42, 0, 0.05, 0.99);
  --transition-ease-in: cubic-bezier(0.42, 0, 0.9, 0.51);
  --transition-ease-out: cubic-bezier(0, 0.5, 0.5, 1);
  --transition-ease-in-out: cubic-bezier(0.57, 0.18, 0.49, 0.97);
  --transition-ease-out-back: cubic-bezier(0.35, 1.6, 0.54, 0.96);

  // Spacing
  // --header-height: ${fluid(60, 80, SM, XXL)};

  // Shadows
  --box-shadow-small: 0px 0.6px 1.7px rgba(0, 0, 0, 0.008), 0px 1.4px 4px rgba(0, 0, 0, 0.012),
    0px 2.6px 7.5px rgba(0, 0, 0, 0.015), 0px 4.7px 13.4px rgba(0, 0, 0, 0.018), 0px 8.8px 25.1px rgba(0, 0, 0, 0.022),
    0px 21px 60px rgba(0, 0, 0, 0.03);
  --box-shadow-large: 0px 1.7px 2.2px rgba(0, 0, 0, 0.017), 0px 4px 5.3px rgba(0, 0, 0, 0.024), 0px 7.5px 10px rgba(0, 0, 0, 0.03),
    0px 13.4px 17.9px rgba(0, 0, 0, 0.036), 0px 25.1px 33.4px rgba(0, 0, 0, 0.043), 0px 60px 80px rgba(0, 0, 0, 0.06);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body {
  line-height: 1.4;
  font-family: var(--font-family-sans);
  color: var(--color-dark-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}
